<template>
  <div
    id="toast-success"
    class="absolute top-20 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
    role="alert"
    v-if="dialogSuccess"
  >
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Check icon</span>
    </div>
    <div class="ml-3 text-sm font-normal">
      <span>
        You added
        <b>{{ dataCart.title }}</b>
        to your shopping cart.
      </span>
      <p class="text-sm text-red-500">
        (Dummy API) adding a new cart will not add it into the server.
      </p>
    </div>
  </div>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 w-screen h-screen backdrop-blur-sm bg-white/30"
    v-if="storeCart.loading"
  >
    <div
      class="animate-spin absolute top-1/2 left-1/2 inline-block w-24 h-24 border-[3px] border-current border-t-transparent text-blue-600 rounded-full"
      role="status"
      aria-label="loading"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div
    id="overlay"
    class="fixed z-30 w-screen h-screen inset-0 backdrop-blur-sm bg-white/30"
    v-if="openDialog"
  ></div>
  <div
    id="dialog"
    class="fixed z-40 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[500px] bg-white rounded-md px-8 py-6 space-y-5 drop-shadow-lg"
    v-if="openDialog"
  >
    <div class="w-full bg-white px-2 py-2">
      <strong
        class="text-xl align-center cursor-pointer alert-del float-right"
        @click="closeCart()"
      >
        &times;
      </strong>
      <h1 class="text-2xl font-semibold">Add to Cart</h1>
      <div class="flex mt-10 mb-5">
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">
          Product Details
        </h3>
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5 text-center">
          Quantity
        </h3>
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">
          Price
        </h3>
      </div>
      <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
        <div class="flex w-2/5">
          <div class="w-36">
            <img class="h-24" :src="dataCart.thumbnail" :alt="dataCart.title" />
          </div>
          <div class="flex flex-col justify-between ml-4 flex-grow">
            <span class="font-bold text-sm">{{ dataCart.title }}</span>
            <span class="text-red-500 text-xs">{{ dataCart.brand }}</span>
          </div>
        </div>
        <div class="flex justify-center w-2/5">
          <svg
            class="fill-current text-gray-600 w-3 cursor-pointer"
            viewBox="0 0 448 512"
            @click="decrement()"
          >
            <path
              d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
            />
          </svg>

          <input class="mx-2 border text-center w-10 h-8 rounded-sm" type="text" v-model="quantity" />

          <svg
            class="fill-current text-gray-600 w-3 cursor-pointer"
            viewBox="0 0 448 512"
            @click="increment()"
          >
            <path
              d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
            />
          </svg>
        </div>
        <span class="text-center w-1/5 font-semibold text-sm">${{ dataCart.price }}</span>
      </div>
      <div>
        <span class="text-red-600 text-xs" v-if="dataCart.stock < 5">Stock run out</span>
        <span class="text-green-600 text-xs" v-else>Stock: {{ dataCart.stock }}</span>
      </div>
      <div class="mt-2 flex justify-center">
        <a
          href="#"
          class="px-5 py-2 bg-indigo-500 hover:bg-indigo-700 text-white cursor-pointer rounded-md w-full text-center"
          @click="addToCart(dataCart, quantity)"
        >
          Add to Cart
        </a>
      </div>
    </div>
  </div>
</template>
<script setup>
import {useCartStore} from '~/stores/cart'
import {useUserStore} from '~/stores/user'
import {storeToRefs} from 'pinia'
const props = defineProps({
  openDialog: {
    type: Boolean,
    default: false
  },
  dataCart: {
    type: Object
  }
})
const storeCart = useCartStore()
const storeUser = useUserStore()

const emits = defineEmits(['closeDialogCart'])
const dataUser = computed(() => JSON.parse(storeUser.getUser) || {})
const successAddToCart = computed(() => storeCart.responseData)
const dialogSuccess = ref(false)
let quantity = ref(1)

function closeCart() {
  quantity.value = 1
  emits('closeDialogCart')
}

function decrement() {
  quantity.value -= 1
  if (quantity.value < 0) quantity.value = 0
}

function increment() {
  quantity.value += 1
}

function addToCart(product, qty) {
  let payload = {
    userId: this.dataUser?.id,
    products: [
      {
        id: product?.id,
        quantity: qty
      }
    ]
  }
  this.storeCart.addToCart(payload)
  this.closeCart()
}

watch(successAddToCart, newVal => {
  dialogSuccess.value = true
  setTimeout(() => (dialogSuccess.value = false), 5000)
})
</script>
