<template>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
    v-if="loading"
  >
    <div
      class="animate-spin inline-block w-24 h-24 border-[3px] border-current border-t-transparent text-blue-600 rounded-full"
      role="status"
      aria-label="loading"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-5 gap-5 mt-4">
      <div v-for="product in productList" :key="product.id">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full h-[180px]" :src="product?.thumbnail" :alt="product?.title" />
          <div class="px-6 py-4 h-[120px]">
            <div class="font-medium text-md mb-2">{{ product?.title }}</div>
            <p class="text-gray-700 text-xs truncate ...">
              {{ product?.description }}
            </p>
          </div>
          <div class="px-6 mb-2">
            <span class="font-medium text-sm">$ {{ product?.price }}</span>
          </div>
          <div class="p-2 pt-0 flex justify-center">
            <a
              href="#"
              class="bg-indigo-500 hover:bg-indigo-700 text-xs text-white font-medium hover:text-white py-2 px-4 border rounded-md w-full text-center"
              @click="addToCart(product)"
            >
              + Add to Cart
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Cart :openDialog="dialogCart" @closeDialogCart="closeCart" :dataCart="productToCart" />
  <Login
    :status="dialogLogin"
    @closeDialogLogin="closeLogin"
    @loginSuccess="loginSuccess"
  />
</template>
<script setup>
import {useProductStore} from '~/stores/product'
import {useUserStore} from '~/stores/user'
import {storeToRefs} from 'pinia'

const {productList, loading} = storeToRefs(useProductStore())
const {getProductList} = useProductStore()
const dialogCart = ref(false)
const dialogLogin = ref(false)
const productToCart = ref({})
let limit = ref(10)
let skip = ref(0)
const store = useUserStore()
const dataUser = computed(() => JSON.parse(store.getUser) || {})
const isLogin = computed(() => store.getAuthToken)

onMounted(() => {
  getProductList(limit.value, skip.value)
  getMoreProductList()
})

function addToCart(product) {
  if (isLogin.value) {
    this.dialogCart = true
    this.productToCart = product
  } else {
    this.dialogLogin = true
  }
}

function closeCart() {
  dialogCart.value = false
}

function loginSuccess(user) {
  dialogLogin.value = false
  window.location.reload()
}

function closeLogin() {
  dialogLogin.value = false
}

function getMoreProductList() {
  window.onscroll = () => {
    let bottomOfWindow =
      document.documentElement.scrollTop + window.innerHeight ===
      document.documentElement.offsetHeight
    if (bottomOfWindow) {
      limit.value += 10
      skip.value +=10
      getProductList(limit.value, skip.value)
    }
  }
}
</script>
