<template>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
    v-if="loading"
  >
    <div
      class="animate-spin inline-block w-24 h-24 border-[3px] border-current border-t-transparent text-blue-600 rounded-full"
      role="status"
      aria-label="loading"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div
    id="overlay"
    class="fixed z-40 w-screen h-screen inset-0 backdrop-blur-sm bg-white/30"
    v-if="status"
  ></div>
  <div
    id="dialog"
    class="fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-96 bg-white rounded-md px-8 py-6 space-y-5 drop-shadow-lg"
    v-if="status"
  >
    <strong class="text-xl align-center cursor-pointer alert-del float-right" @click="closeDialog()">&times;</strong>
    <h1 class="text-2xl font-semibold">Account Login</h1>
    <div class="py-5 border-t border-b border-gray-300">
      <form action="#" class="flex flex-col space-y-5">
          <div class="flex flex-col space-y-1">
            <label for="email" class="text-sm font-semibold text-gray-500">
              Username
            </label>
            <input
              type="email"
              v-model="username"
              autofocus
              class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200"
            />
          </div>
          <div class="flex flex-col space-y-1">
            <label for="email" class="text-sm font-semibold text-gray-500">
              Password
            </label>
            <input
              type="password"
              v-model="password"
              autofocus
              class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200"
            />
          </div>
          <span v-if="messageError" class="text-red-500 text-sm"> {{messageError}}</span>
        </form>
    </div>
    <div class="flex justify-end">
      <a
        href="#"
        class="px-5 py-2 bg-indigo-500 hover:bg-indigo-700 text-white cursor-pointer rounded-md"
        @click="loginUser()"
      >
        Login
      </a>
    </div>
  </div>
</template>
<script setup>
import {useUserStore} from '~/stores/user'
import {storeToRefs} from 'pinia'

const store = useUserStore()
const username = ref('kminchelle')
const password = ref('0lelplR')
const {loading, messageError} = storeToRefs(useUserStore())
const emits = defineEmits(['closeDialogLogin'])
const props = defineProps({
  status: {
    type: Boolean,
    default: false
  }
})
async function loginUser () {
  await this.store.login(this.username, this.password)
  const dataUser = JSON.parse(localStorage.getItem('user'))
  if(dataUser.id) emits('loginSuccess')
}
function closeDialog() {
  emits('closeDialogLogin')
}

</script>
