<template>
  <div>
    <nav class="flex items-center justify-between flex-wrap bg-indigo-500 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <svg
          class="fill-current h-8 w-8 mr-2"
          width="54"
          height="54"
          viewBox="0 0 54 54"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"
          />
        </svg>
        <span class="font-semibold text-3xl tracking-tight">KL</span>
        <span class="font-semibold text-lg tracking-tight ml-2 mt-2">Shop</span>
      </div>
      <div class="block lg:hidden">
        <button
          class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow"></div>
        <div class="px-2" v-if="isLogin">
          <span class="text-white text-md font-semibold">
            Welcome {{ dataUser.firstName }}
          </span>
        </div>
        <div v-if="!dataUser?.id">
          <a
            href="#"
            class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
            @click="openDialogLogin()"
          >
            Login
          </a>
        </div>
        <div v-else>
          <a
            class="inline-flex text-sm px-2 leading-none text-white cursor-pointer mt-4 lg:mt-0"
            @click="openShoppingCart()"
          >
            <div class="top-2 absolute right-[3.8rem]">
              <p
                class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs text-white"
              >
                {{dataProductCart.length}}
              </p>
            </div>
            <svg
              class="h-6 w-6"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="9" cy="21" r="1" />
              <circle cx="20" cy="21" r="1" />
              <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6" />
            </svg>
          </a>
          <a
            href="#"
            class="inline-flex text-sm px-2 leading-none text-white cursor-pointer mt-4 lg:mt-0"
            @click="logout()"
          >
            <svg
              class="h-6 w-6"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" />
              <path
                d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
              />
              <path d="M7 12h14l-3 -3m0 6l3 -3" />
            </svg>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <Shoppingcart
    :status="dialogShoppingCart"
    :dataProductCart="dataProductCart"
    @closeDialogShoppingCart="closeDialogShoppingCart"
  />
  <Login
    :status="dialogLogin"
    @closeDialogLogin="closeDialogLogin"
    @loginSuccess="loginSuccess"
  />
</template>
<script setup>
import {ref} from 'vue'
import {useUserStore} from '~/stores/user'
import {useCartStore} from '~/stores/cart'
import {storeToRefs} from 'pinia'

const storeUser = useUserStore()
const storeCart = useCartStore()

const dialogLogin = ref(false)
const dialogShoppingCart = ref(false)
const dataUser = computed(() => JSON.parse(storeUser.getUser) || {})
const isLogin = computed(() => storeUser.getAuthToken)
const dataProductCart = computed(() => storeCart.getProductCart)

onMounted(() => {
  if (isLogin.value) {
    storeCart.getCart(dataUser.value.id)
  }
})

function openDialogLogin() {
  this.dialogLogin = true
}

function closeDialogLogin() {
  dialogLogin.value = false
}

function loginSuccess(user) {
  dialogLogin.value = false
  window.location.reload()
}

async function logout() {
  await this.storeUser.logout()
}

async function openShoppingCart() {
  this.dialogShoppingCart = true
}

function closeDialogShoppingCart() {
  dialogShoppingCart.value = false
}
</script>
