<template>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
    v-if="loadingShoppingCart"
  >
    <div
      class="animate-spin inline-block w-24 h-24 border-[3px] border-current border-t-transparent text-blue-600 rounded-full"
      role="status"
      aria-label="loading"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div
    id="toast-success"
    class="absolute top-20 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
    role="alert"
    v-if="dialogSuccessDelete"
  >
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Check icon</span>
    </div>
    <div class="ml-3 text-sm font-normal">
      <span>Remove cart successfully.</span>
      <p class="text-sm text-red-500">
        (Dummy API) Deleting a cart will not delete it into the server.
      </p>
    </div>
  </div>
  <div
    id="toast-failed"
    class="absolute top-20 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
    role="alert"
    v-if="dialogFailedDelete"
  >
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Error icon</span>
    </div>
    <div class="ml-3 text-sm font-normal">
      <span>Remove cart failed.</span>
      <p class="text-sm text-red-500">
        (Dummy API) Deleting a cart will not delete it into the server.
      </p>
    </div>
  </div>
  <div
    class="relative z-10 top-40"
    aria-labelledby="slide-over-title"
    role="dialog"
    aria-modal="true"
    v-if="status"
  >
    <div class="fixed inset-0 bg-transparent transition-opacity"></div>

    <div class="fixed inset-0 overflow-hidden">
      <div class="absolute inset-0 overflow-hidden">
        <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
          <div class="pointer-events-auto w-screen max-w-md">
            <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
              <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                <div class="flex items-start justify-between">
                  <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
                    Shopping cart
                  </h2>
                  <div class="ml-3 flex h-7 items-center">
                    <button
                      type="button"
                      class="-m-2 p-2 text-gray-400 hover:text-gray-500"
                      @click="closeShoppingCart()"
                    >
                      <span class="sr-only">Close panel</span>
                      <svg
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6 18L18 6M6 6l12 12"
                        />
                      </svg>
                    </button>
                  </div>
                </div>

                <div class="mt-8">
                  <div class="flow-root">
                    <ul role="list" class="-my-6 divide-y divide-gray-200">
                      <li
                        class="flex py-6"
                        v-for="(product, index) in dataProductCart"
                        :key="product.id"
                      >
                        <div
                          class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200"
                        >
                          <!-- <img :src="product.thumbnail" alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="h-full w-full object-cover object-center"> -->
                        </div>

                        <div class="ml-4 flex flex-1 flex-col">
                          <div>
                            <div
                              class="flex justify-between text-base font-medium text-gray-900"
                            >
                              <h3>
                                <a href="#">{{ product.title }}</a>
                              </h3>
                              <p class="ml-4">${{ product.price }}</p>
                            </div>
                          </div>
                          <div class="flex flex-1 items-end justify-between text-sm">
                            <div class="flex justify-center w-5/5">
                              <svg
                                class="fill-current text-gray-600 w-2 cursor-pointer"
                                viewBox="0 0 448 512"
                                @click="decrement(index)"
                              >
                                <path
                                  d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                                />
                              </svg>

                              <input
                                class="mx-2 border text-center w-12 h-8 text-sm rounded-sm"
                                type="text"
                                v-model="product.quantity"
                                @input="updateQuantyCart(index)"
                              />

                              <svg
                                class="fill-current text-gray-600 w-2 cursor-pointer"
                                viewBox="0 0 448 512"
                                @click="increment(index)"
                              >
                                <path
                                  d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                                />
                              </svg>
                            </div>

                            <div class="flex">
                              <a
                                href="#"
                                class="font-medium text-indigo-600 hover:text-indigo-500"
                                @click="removeCart(product, index)"
                              >
                                Remove
                              </a>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                <div class="flex justify-between text-base font-medium text-gray-900">
                  <p>Subtotal</p>
                  <p>${{ totalPrice }}</p>
                </div>
                <p class="mt-0.5 text-sm text-gray-500">
                  Shipping and taxes calculated at checkout.
                </p>
                <div class="mt-6">
                  <a
                    href="#"
                    class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700"
                  >
                    Checkout
                  </a>
                </div>
                <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
                  <p>
                    or
                    <a
                      href="#"
                      class="font-medium text-indigo-600 hover:text-indigo-500"
                      @click="closeShoppingCart()"
                    >
                      Continue Shopping
                      <span aria-hidden="true">&rarr;</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import {useCartStore} from '~/stores/cart'
import {storeToRefs} from 'pinia'
const props = defineProps({
  status: {
    type: Boolean,
    default: false
  },
  dataProductCart: {
    type: Object
  }
})
const storeCart = useCartStore()
const {loadingShoppingCart} = storeToRefs(useCartStore())
const successDelete = computed(() => storeCart.responseDataDelete)
const dialogSuccessDelete = ref(false)
const dialogFailedDelete = ref(false)
const emits = defineEmits(['closeDialogShoppingCart'])
const totalPrice = computed(() => {
  let total = 0
  if (props.dataProductCart) {
    props.dataProductCart.forEach(product => {
      total += product.price
    })
  }
  return total
})

function closeShoppingCart() {
  emits('closeDialogShoppingCart')
}

async function decrement(index) {
  props.dataProductCart[index].quantity -= 1
  if (props.dataProductCart[index].quantity < 0) props.dataProductCart[index].quantity = 0
  const payload = {
    merge: true, // this will include existing products in the cart
    products: [
      {
        id: props.dataProductCart[index].id,
        quantity: props.dataProductCart[index].quantity
      }
    ]
  }
  this.updateCart(props.dataProductCart[index].id, payload)
}

async function increment(index) {
  props.dataProductCart[index].quantity += 1
  const payload = {
    merge: true, // this will include existing products in the cart
    products: [
      {
        id: props.dataProductCart[index].id,
        quantity: props.dataProductCart[index].quantity
      }
    ]
  }
  this.updateCart(props.dataProductCart[index].id, payload)
}

async function updateQuantyCart(index,) {
  if (props.dataProductCart[index].quantity < 0) props.dataProductCart[index].quantity = 0
  const payload = {
    merge: true, // this will include existing products in the cart
    products: [
      {
        id: props.dataProductCart[index].id,
        quantity: props.dataProductCart[index].quantity
      }
    ]
  }
  this.updateCart(props.dataProductCart[index].id, payload)
}

async function removeCart(product, index) {
  await this.storeCart.removeCart(product?.id, index)
}

async function updateCart(id, payload) {
  await this.storeCart.updateCart(id, payload)
}

watch(successDelete, newVal => {
  if (successDelete.value.status === 200) {
    dialogSuccessDelete.value = true
    setTimeout(() => (dialogSuccessDelete.value = false), 5000)
  } else if (successDelete.value.status === 404) {
    dialogFailedDelete.value = true
    setTimeout(() => (dialogFailedDelete.value = false), 5000)
  }
})
</script>
